body{
    background: white;
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background: black;
    background-size: 100%;
    text-align: center;
}
nav{
    padding-top: 10px;
    background-color: rgb(37, 36, 36);
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1{
    padding: 200px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline
}
li{
    display: inline-block;
    margin-right: 20px;
}
#gameContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
#playButton{
    background: white;
    color: grey;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button {
    width: 15vw;
    height: 5vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
footer{
    background: rgb(62, 62, 62);
    padding: 10px 20px;
}